/*css for background*/
*{
	padding: 0px;
	margin: 0px;
}
.fix{
	padding-left:  0;
	padding-right: 0;
	background-color: #f0f0f0;
}
.container{
	background-color: #fff;
}
/*css for header*/
.top-header{
	height: 30px;
	background-color: #30a9de;
}
.taikhoan {
	padding-top: 5px;
	float: right
}
.taikhoan a{
	margin-right:20px;
	color: #fff;
}
/*css for mid-header*/
.logo img{
	width: 263px;
	height: 82px;
}
.form1 table {
	width:90%;
	margin: 10px auto;
}
.form1 input{
	padding: 10px;
	width: 100%;
	border:solid 1px #dcdcdc;
	border-radius: 3px 0px 0px 3px;
}
#fix-td{
	width: 10%;
}
#find-tk{
	border-radius: 0px 3px 3px 0px;
	border:solid 1px #30a9de;
	background-color: #30a9de;
	color: #fff;
}
.menu{
	overflow: hidden;
}
.menu li{
	padding: 5px 20px 10px 20px;
	float: left;	
}
.menu ul{
	padding:0px 40px 0px 40px;
}
.menu ul li{
	list-style: none;
}
#t2{
	width: 100%;
	margin: 40px 10px;
}
/*css for content-top*/
.tintuc{
	overflow: hidden;
	margin: 0;
}
.tintuc ul{
	list-style: none;
}
.tintuc ul li a{
	padding: 5px 15px 10px 20px;
}
.danhmuc{
	float: left;
	width: 200px;
}
.danhmuc li{
	padding: 20px;
	height: 62.5px;
	text-align: center;
}
.danhmuc li:hover{
	background-color: #ccebff;
}
.danhmuc li.active{
	background-color: #30a9de;
	color:white;
}
.move{
	float: left;
	padding-left:0px;
	width: 770px;
}
.move div{
	height: 250px;
}
.item img{
	max-width: 100%;
}
.tincongnghe{
	float: left;
	width: 180px;
	margin-left: 20px;
}
.content-info ul{
	list-style: none;
}
/*css for content-dangky*/
.content-bot{
	border-top: 4px solid #dcdcdc;
	float:left;
	width: 100%;
}
form h3{
	text-align: center;
	padding: 15px;
}
.dangky{
	padding-top:20px;
}
.submit{
	text-align: center;
	width: 100%;
}
/* css for footer */
.footer p{
	text-align: center;
}