/*css for background*/
*{
	padding: 0px;
	margin: 0px;
}

/* .container{
	background-color: #fff;
}
css for header
.top-header{
	height: 30px;
	background-color: #30a9de;
}
.taikhoan {
	padding-top: 5px;
	float: right
}
.taikhoan a{
	margin-right:20px;
	color: #fff;
}
css for mid-header
.logo img{
	width: 263px;
	height: 82px;
}
.form1 table {
	width:90%;
	margin: 10px auto;
}
.form1 input{
	padding: 10px;
	width: 100%;
	border:solid 1px #dcdcdc;
	border-radius: 3px 0px 0px 3px;
}
#fix-td{
	width: 10%;
}
#find-tk{
	border-radius: 0px 3px 3px 0px;
	border:solid 1px #30a9de;
	background-color: #30a9de;
	color: #fff;
}
.menu{
	overflow: hidden;
}
.menu li{
	padding: 5px 20px 10px 20px;
	float: left;	
}
.menu ul{
	padding:0px 40px 0px 40px;
}
.menu ul li{
	list-style: none;
}
#t2{
	width: 100%;
	margin: 40px 10px;
}
css for content-top
.tintuc{
	overflow: hidden;
	margin: 0;
}
.tintuc ul{
	list-style: none;
}
.tintuc ul li a{
	padding: 5px 15px 10px 20px;
}
.danhmuc{
	float: left;
	width: 200px;
}
.danhmuc li{
	padding: 20px;
	height: 62.5px;
	text-align: center;
}
.danhmuc li:hover{
	background-color: #ccebff;
}
.danhmuc li.active{
	background-color: #30a9de;
	color:white;
}
.move{
	float: left;
	padding-left:0px;
	width: 770px;
}
.move div{
	height: 250px;
}
.item img{
	max-width: 100%;
}
.tincongnghe{
	float: left;
	width: 180px;
	margin-left: 20px;
}
.content-info ul{
	list-style: none;
} */
/*css for content-sanpham*/
.set{
	padding: 0;
}
.add-shop{
	padding: 6px 20px;
	
	float: left;
	margin-right: 5px;
	background: -webkit-gradient(linear,center top,center bottom,from(#ec1010),to(#da0b00));
    background: linear-gradient(#ec1010,#da0b00);
    background-color: #e60d0d;
	
}
.box-btn{
	margin: 0 10px;
	padding: 0 5px;
	color: #fff;
	overflow: hidden;

}
.box-btn:hover button{
	color: #fff

}

.buy{
	padding: 6px 20px;
	border-color: #f89406;
	background:-webkit-linear-gradient(top,#f89406,#f76b1c);
    background: -moz-linear-gradient(top,#f89406,#f76b1c);
    background: -ms-linear-gradient(top,#f89406,#f76b1c);
    background: -o-linear-gradient(top,#f89406,#f76b1c);
	
}
.call{
	padding: 6px 20px;
	    background: -webkit-gradient(linear,center top,center bottom,from(#68bf5f),to(#49a342));
    background: linear-gradient(#68bf5f,#49a342);
    background-color: #68bf5f;
}
.content-bot{
	/* border-top: 4px solid #dcdcdc; */
	float:left;
	width: 100%;
}
.chung{
	float: left;
	width: 100%;
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 20px;
}
#namephone{
	font-size: 25px;
}
#update{
	width: 50px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.phoneimg{
	float: left;
	width: 300px;
	height: 300px;
	margin-right: 20px;
	text-align: center;
}
.phoneimg img{
	width: 300px;
	height: 300px;
}
.phonesale{
	float:left;
	width: 520px;
}
#giaphone{
	font-size: 25px;
	color: #b30000;
}
.quangcao{
	position: relative;
	border:2px solid black;
	margin-top: 25px;
	padding: 10px;
	border-radius: 6px;	
}
.quangcao ul{
	margin-left: 20px;
}
.quangcao li{
	padding: 3px;
}
.khuyenmai{
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 0px;
	position: absolute;
	top: -14px;
	font-size: 18px;
	left: 30px;
    background:white;
}
.chinhsach{
 	margin-left:21px; 
 	padding:10px;
}
.chinhsach ul li{
	padding: 3px;
}
.phukien{
	float: left;
	width: 300px;
	position: relative;
}
/*phone-info css*/
.phone-info{
	padding-top:15px;
	float: left;
}
.thongso{
	float: left;
	width: 50%;
}
.thongso h2{
	margin-bottom:30px;
}
/* css for footer */
