@import "footer.css";
@import "style.dathang.css" ;
@import "style.sanpham.css";
@import "res_menu.css";
/* css owl carousel */
@import "owl-carousel/owl.carousel.css";
@import "owl-carousel/owl.theme.css";
@import "owl-carousel/owl.transitions.css";
/* **************************/

*{
	margin: 0;
	padding: 0;
	font-family:  Arial, Helvetica, sans-serif;

}
.container-fluid{
	padding-left: 0;
	padding-right: 0;

}
/*********************** begin css for menu and banner ***********************/
ul li{
	list-style: none;
}
a:hover{
	text-decoration: none;
}
/*********************** css for header********************** */
.header{
	
	padding: 0.1em 4em;
	overflow: hidden;
	width:100%;
	margin:0 auto;
	display: block;

	
}
.fix{
	
	z-index: 9999;
	display: block;
	background-color: #eeeeee;
	box-shadow: 0 0 25px 0 rgba(0,0,0,.2);
	margin-bottom: 10px;
}
.logo{
	float: left;
	margin: 10px 15px;


}
.logo img{
	width: 147px;
	height: 38px;

}
.search{
	float: left;
	display: inline-block;
	margin: 15px 5px;
	width: 30%;

}
.search input{
	padding: 5px;
	border-radius: 5px 0px 0px 5px;
	border: solid 0.1px #828282;
	width: 80%;
	position: relative;


}
.tk{
	border: solid 0.1px #d21111;
	background-color: #d21212;
	padding: 3px;
	margin: 0px;
	position: absolute;
	border-radius: 0px 5px 5px 0px;
}

/*********************** css for menu ***********************/
.menu {
	float: left;
}
.menu ul{
	overflow: hidden;
	margin: 0 auto;
}
.menu ul a li, .menu ul a{
	float: left;
	margin: 0 0.5em;
	color: #211f1f;
	display: block;



}
.menu ul li label{
	font-size: 12px;
	text-align: center;
	font-weight: 400;
	cursor: pointer;
	text-transform: uppercase;
}
.menu ul li span{
	text-align: center;
	display: table;
	width: 100%;
	height: 32px;
	display: block;
	cursor: pointer;

}
.icon0{
	display: block;
	width: 32px;
	height: 32px;
	background-image: url(../img/icon/smartphone.png);
	background-repeat: no-repeat;
	cursor: pointer;
	
}
.icon1{
	display: block;
	width: 32px;
	height: 32px;
	background-image: url(../img/icon/tablet-icon.png);
	background-repeat: no-repeat;
	cursor: pointer;
	
}
.icon2{
	display: block;
	width: 32px;
	height: 32px;
	background-image: url(../img/icon/laptop.png);
	background-repeat: no-repeat;
	cursor: pointer;
	
}
.icon3{
	display: block;
	width: 32px;
	height: 32px;
	background-image: url(../img/icon/headphones.png);
	background-repeat: no-repeat;
	cursor: pointer;
	
}
.icon4{
	display: block;
	width: 32px;
	height: 32px;
	background-image: url(../img/icon/sale.png);
	background-repeat: no-repeat;
	cursor: pointer;
	
}
.menu ul a:hover .icon0{
	background-image: url(../img/icon/smartphone2.png);
	background-repeat: no-repeat;
}
.menu ul a:hover .icon1{
	background-image: url(../img/icon/tablet2.png);
	background-repeat: no-repeat;
}.menu ul a:hover .icon2{
	background-image: url(../img/icon/laptop2.png);
	background-repeat: no-repeat;
}
.menu ul a:hover .icon3{
	background-image: url(../img/icon/head2.png);
	background-repeat: no-repeat;
}
.menu ul a:hover .icon4{
	background-image: url(../img/icon/sale2.png);
	background-repeat: no-repeat;
}

.menu ul a:hover{
	border-bottom: 5px solid #d21212;
	transition: all .3s ease;
}
/*********************** css for hotline ***********************/

.hotline{
	float: right;
	padding: 5px 15px;
	text-align: center;
	margin: 5px 
}
/*********************** css for banner ***********************/
.img-1 img{
	max-width: 100%;
	height:135px;
}
.img-1{
	margin-bottom: 10px;
}
.b-left{
	padding-left: 0px;

}
.b-right{
	display: block;
}

/*********************** end css menu and banner ***********************/
/***********************begin css for content-index***********************/
.content-bot{
	
	float:left;
	width: 100%;
}
.box-cart{
	border:1px solid #dcdcdc;
	padding-bottom: 5px;
	float: left;
	position: relative;
	height: 365.4px;
}
.box-cart .thongtin,.img-cart{
	transition: opacity 0.5s;
}
.img-cart{
	margin-bottom: 15px;
}
.box-cart a{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
}
.box-cart:hover .thongtin{
	opacity: 1;

}
.box-cart:hover h3{
	color:#288ad6;
}
.box-cart:hover .img-cart{
	opacity: 0;
}
.img-cart{
	text-align: center;
}
.img-cart img{
	margin-top:20px;
	margin-bottom: 10px;
	width: 140px;
	height: 150px;
}
.thongtin{
	position: absolute;
	top: 0px;
	left: 0px;
	margin:0px;
	opacity: 0;
	width: 100%;
	background-color: #f8f8f8;
	height: 200px;
}
.thongtin ul{
	padding:10px;
}
.thongtin ul li{
		list-style: none;
		margin:5px 10px 5px 10px;
}
.ten{
	padding-left: 10px;
}
.gia{
	padding-left: 10px;
	color: #b30000;
	font-size: 18px;
}
.index-km li {
	width: 80%;
	list-style: circle;
	list-style-position:inside;
	overflow:hidden;
	white-space: nowrap; 
	text-overflow: ellipsis;
}
.box-btn{
	bottom: 5px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	width:100%;
	/* margin:0 4.5em; */
}

/* .add-giohang{
 	float: left;
 	padding: 3px 14px;
 	font-size: 18px;
 	margin:0px 5px;
 } */ 
.mua{
	/* float: left; */
	padding: 3px 14px;
	font-size: 18px;
	/* margin:0px 5px; */
	border-color: #f89406;
	background:-webkit-linear-gradient(top,#f89406,#f76b1c);
    background: -moz-linear-gradient(top,#f89406,#f76b1c);
    background: -ms-linear-gradient(top,#f89406,#f76b1c);
    background: -o-linear-gradient(top,#f89406,#f76b1c);
}
.box-btn:hover .mua{
	border-color: #288ad6;
	background:-webkit-linear-gradient(top,#288ad6,#679ECA);
    background: -moz-linear-gradient(top,#288ad6,#679ECA);
    background: -ms-linear-gradient(top,#288ad6,#679ECA);
    background: -o-linear-gradient(top,#288ad6,#679ECA);
}

.ct button{
	border-radius: 5px;
	border: 1px solid #288ad6;
	background-color: #fff;
	padding: 5px;
	text-transform: uppercase;
	margin: 3px auto;
	color:#288ad6;
	position: absolute;
}
.ct button:hover{
	background-color: #288ad6;
	color: #fff;
	font-weight: bold;
}
/**********************end css for content index**********************/
/***********************css for content index2***********************/
.title{
	border: 1px solid #dcdcdc;
	padding: 5px 0px;
	border-radius: 5px 5px 0px 0px;
	border-bottom: none;
	background-color: #f6f6f6;
}
.title span{
	vertical-align: bottom;
	font-size: 16px;
}
.ads{

	padding: 5px 0px;
}
.item img{
	width: 100%;
}
/* RESPONSITE menu */
/* 
@media only screen and (max-width: 1024px) {
 
}
 
@media only screen and (max-width: 980px) {
 
}
 
@media only screen and (max-width: 800px) {
 
}
 
@media only screen and (max-width: 780px) {
 
}
 
@media only screen and (max-width: 768px) {
 
}
 
@media only screen and (max-width: 720px) {
 
}
 
@media only screen and (max-width: 640px) {
 
}
 
@media only screen and (max-width: 600px) {
 
}
 
@media only screen and (max-width: 568px) {
 
}
 
@media only screen and (max-width: 563px) {
 
}
 
@media only screen and (max-width: 549px) {
 
}
 
@media only screen and (max-width: 534px) {
 
}
 
@media only screen and (max-width: 480px) {
 
}
 
@media only screen and (max-width: 360px) {
 
}
 
@media only screen and (max-width: 338px) {
 
}
 
@media only screen and (max-width: 330px) {
 
}
 
@media only screen and (max-width: 320px) {
 
}*/
/* @media only screen and (min-width: 1096px){
	.menu ul a li{
		margin:0 0.2em;
	}
} */

/****************************** css footer ******************************/
